/**---------------------------------GENERAL------------------------------*/

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/**----------------------------------------------------------------------*/

/**-----------------------------HEADER-----------------------------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-logo,
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-span-header {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

/*.header-menu-item {
}*/

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

/*
.header-contacts-item {
}*/

.header-contacts-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contacts-link:hover,
.header-contacts-link:focus,
.header-contacts-link:active {
  color: #404bbf;
}

/**-------------------------------------------------------------------*/

/**----------------------------MAIN-TITLE-----------------------------*/

.hero,
.footer {
  background: #2e2f42;
}

.hero {
  padding: 188px 0;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

.hero-button {
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

/**---------------------------------------------------------------------*/

/**------------------------------FEATURES-------------------------------*/

.feature {
  padding: 120px 0;
}

.feature-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-list-item {
  width: calc((100% - 3 * 24px) / 4);
}

.feature-list-title {
  margin-bottom: 8px;
}

.feature-list-title,
.team-member,
.portfolio-header {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.feature-list-content,
.member-occupation,
.portfolio-description,
.footer-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**-------------------------------------------------------------------*/

/**------------------------------TEAM---------------------------------*/

.team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-list-item {
  background-color: #fff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/*.team-img {
}*/

.member-container {
  padding: 32px 0;
}

.team-member {
  text-align: center;
  margin-bottom: 8px;
}

.member-occupation {
  text-align: center;
}

/**-------------------------------------------------------------------*/

/**-------------------------PORTFOLIO---------------------------------*/

.portfolio {
  padding: 120px 0;
}

.portfoilio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-header {
  margin-bottom: 8px;
}

.portfolio-list-item {
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/*
.portfolio-img {
}*/

/**-----------------------------------------------------------------*/

/**-------------------------------FOOTER----------------------------*/

.footer {
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-content {
  max-width: 264px;
}

.logo-span-footer,
.footer-content {
  color: #f4f4fd;
}

/**----------------------------------------------------------------*/
